<footer class="footer" role="contentinfo">

    <div class="footer__hr" aria-hidden>
        <img src="/img/line-flowers-001.svg" height="57" width="357">
    </div>

    <small class="footer__info">Copyright © Katie Crafts 2018. All rights reserved.</small>

    <nav role="navigation">
        <ul class="footer__links-list">
            <li class="footer__links-item"><a href="/legal/" title="Legal">Legal</a></li>
            <li class="footer__links-item"><a href="/thanks/" title="Thanks">Thanks</a></li>
        </ul>
    </nav>
</footer>
