<header class="header">
    <div class="header__logo">
        <a href="/" title="Go to Katie Crafts' homepage">
            <img src="/img/katie-crafts-logo.svg" alt="Katie Crafts logo" height="247" width="600">
        </a>
    </div>
</header>
