---
title: >
    New: Vinyl Decals!
date: 2018-09-28
permalink: new-vinyl-decals/
layout: post.njk
categories: 
- crafts
tags: 
- car
- designs
- for-sale
- gift-idea
- laptop
- new
- philadelphia
- shop-small
- vinyl-decals
---
<div class="post__title">New: Vinyl Decals!</div>
<div class="post__featured-image">
  <img
    src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/decal_sampling.jpg?fit=801%2C801&ssl=1"
    loading="lazy"
    alt=""
    width="801"
    height="801"
  />
</div>

<div class="post__content">
  <p>
    Hi friends! I have added a whole new line of items to my shop and I wanted
    you to be the first to know! I’m selling vinyl decals made of commercial
    grade vinyl for all your laptop, car, water bottle needs. They’re adorable,
    fun and ready for you to see below!
  </p>
  <p>
    You may remember my preview mockup pic in my last post with a sneak peek of
    designs, but now they’re
    <a href="https://www.katiecrafts.com/">available in my shop for purchase</a>
    and you can see what they look like in real life. Many of the designs have
    both large and mini decal versions available, and some are designs you will
    recognize from my tote bags and ornaments! What can I say, I like when
    things coordinate. 🙂
  </p>
  <div
    id="gallery-1"
    class="gallery galleryid-10191 gallery-columns-3 gallery-size-thumbnail"
  >
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/fullsizeoutput_72f5/"
          ><img
            width="600"
            height="400"
            src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?w=2048&ssl=1            2048w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=600%2C400&ssl=1   600w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=800%2C533&ssl=1   800w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=416%2C277&ssl=1   416w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?resize=324%2C216&ssl=1   324w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/fullsizeoutput_72f6/"
          ><img
            width="600"
            height="400"
            src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?w=2048&ssl=1            2048w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=600%2C400&ssl=1   600w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=800%2C533&ssl=1   800w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=416%2C277&ssl=1   416w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?resize=324%2C216&ssl=1   324w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/fullsizeoutput_72f7/"
          ><img
            width="600"
            height="400"
            src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?w=2048&ssl=1            2048w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=600%2C400&ssl=1   600w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=800%2C533&ssl=1   800w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=416%2C277&ssl=1   416w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?resize=324%2C216&ssl=1   324w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
  </div>

  <p>
    How cute are the cacti? Those were designed by Hubby. 😉 My favorite (and
    best selling by far) is Cat Mom! Currently making Dog Mom/Dad ones too,
    don’t worry.
  </p>
  <p>
    <img
      loading="lazy"
      class="aligncenter size-full wp-image-10147"
      src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?resize=980%2C653"
      alt=""
      width="980"
      height="653"
      srcset="
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?w=2048&ssl=1            2048w,
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?resize=600%2C400&ssl=1   600w,
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?resize=800%2C533&ssl=1   800w,
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?resize=1200%2C799&ssl=1 1200w,
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?resize=416%2C277&ssl=1   416w,
        https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg?w=1960                  1960w
      "
      sizes="(max-width: 980px) 100vw, 980px"
      data-recalc-dims="1"
    />
  </p>
  <div
    id="gallery-2"
    class="gallery galleryid-10191 gallery-columns-3 gallery-size-thumbnail"
  >
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/?attachment_id=10146"
          ><img
            width="600"
            height="400"
            src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?w=2048&ssl=1            2048w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=600%2C400&ssl=1   600w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=800%2C533&ssl=1   800w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=416%2C277&ssl=1   416w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?resize=324%2C216&ssl=1   324w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/?attachment_id=10141"
          ><img
            width="600"
            height="400"
            src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?w=2048&ssl=1            2048w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=600%2C400&ssl=1   600w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=800%2C533&ssl=1   800w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=1200%2C799&ssl=1 1200w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=416%2C277&ssl=1   416w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?resize=324%2C216&ssl=1   324w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/?attachment_id=10115"
          ><img
            width="600"
            height="400"
            src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?w=2048&ssl=1            2048w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=600%2C400&ssl=1   600w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=800%2C533&ssl=1   800w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=416%2C277&ssl=1   416w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?resize=324%2C216&ssl=1   324w,
              https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
  </div>

  <p>
    There are a few different Philly related designs, and even some emojis
    because everyone loves a good heart eyes stuck on their fave notebook,
    right?
  </p>
  <div
    id="gallery-3"
    class="gallery galleryid-10191 gallery-columns-2 gallery-size-thumbnail"
  >
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/?attachment_id=10101"
          ><img
            width="600"
            height="400"
            src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?w=2048&ssl=1            2048w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=600%2C400&ssl=1   600w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=800%2C533&ssl=1   800w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=416%2C277&ssl=1   416w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?resize=324%2C216&ssl=1   324w,
              https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
    <figure class="gallery-item">
      <div class="gallery-icon landscape">
        <a href="https://www.katiecrafts.com/?attachment_id=10183"
          ><img
            width="600"
            height="400"
            src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=600%2C400&ssl=1"
            class="attachment-thumbnail size-thumbnail"
            alt=""
            loading="lazy"
            srcset="
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?w=2048&ssl=1            2048w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=600%2C400&ssl=1   600w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=800%2C533&ssl=1   800w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=1200%2C800&ssl=1 1200w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=416%2C277&ssl=1   416w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?resize=324%2C216&ssl=1   324w,
              https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg?w=1960                  1960w
            "
            sizes="(max-width: 600px) 100vw, 600px"
        /></a>
      </div>
    </figure>
  </div>

  <p>
    <a href="https://www.katiecrafts.com/"
      >Check out my storefront to see the rest of my vinyl decals and grab one
      for yourself,</a
    >
    and let me know below which one is your favorite!
  </p>
</div>
