---
title: >
    New: Vinyl Decals!
date: 2018-09-28
permalink: blog/new-vinyl-decals/
layout: post.njk
categories: 
- crafts
tags: 
- car
- designs
- for-sale
- gift-idea
- laptop
- new
- philadelphia
- shop-small
- vinyl-decals
---
<div class="post__title">New: Vinyl Decals!</div>

<div class="post__featured-image">
  <img
    src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/decal_sampling.jpg?fit=801%2C801&ssl=1"
    loading="lazy"
    alt=""
    width="801"
    height="801"
  />
</div>

<div class="post__content">
  <p>
    Hi friends! I have added a whole new line of items to my shop and I wanted
    you to be the first to know! I’m selling vinyl decals made of commercial
    grade vinyl for all your laptop, car, water bottle needs. They’re adorable,
    fun and ready for you to see below!
  </p>
  <p>
    You may remember my preview mockup pic in my last post with a sneak peek of
    designs, but now they’re
    <a href="https://www.katiecrafts.com/">available in my shop for purchase</a>
    and you can see what they look like in real life. Many of the designs have
    both large and mini decal versions available, and some are designs you will
    recognize from my tote bags and ornaments! What can I say, I like when
    things coordinate. 🙂
  </p>
  <div class="post__gallery">
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f5.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f6.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_72f7.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
  </div>

  <p>
    How cute are the cacti? Those were designed by Hubby. 😉 My favorite (and
    best selling by far) is Cat Mom! Currently making Dog Mom/Dad ones too,
    don’t worry.
  </p>
  <p>
    <img
      class="post__image"
      src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_997d.jpeg"
      loading="lazy"
      alt=""
      width="980"
      height="653"
    />
  </p>
  <div class="post__gallery">
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_995e.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9964.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i1.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9966.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
  </div>

  <p>
    There are a few different Philly related designs, and even some emojis
    because everyone loves a good heart eyes stuck on their fave notebook,
    right?
  </p>
  <div class="post__gallery">
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i2.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9951.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
    <div class="post__gallery-item">
      <img
        class="post__image"
        src="https://i0.wp.com/www.katiecrafts.com/wp-content/uploads/2018/09/fullsizeoutput_9969.jpeg"
        loading="lazy"
        alt=""
        width="600"
        height="400"
      />
    </div>
  </div>

  <p>
    <a href="https://www.katiecrafts.com/"
      >Check out my storefront to see the rest of my vinyl decals and grab one
      for yourself,</a
    >
    and let me know below which one is your favorite!
  </p>
</div>
