/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Katie Crafts Styles */

a {
    color: #96588a;
}
a:active,
a:hover {
    color: #2c2d33;
}

.header {
    padding: 1.5em 0 3.5em;
}

.header__logo {
    margin: 1.5em auto;
    text-align: center;
}

.footer {
    background: transparent url(/img/pattern-flowers-001.png) top left repeat;
    background-size: 300px;
    color: #17144a;
    padding: 1.5em 0 3.5em;
    text-align: center;
}

.footer__hr {
    background: transparent url(/img/line-flowers-001.svg) center center no-repeat;
    display: block;
    width: 100%;
    margin: 1.5em auto 3.5em;
    max-width: 357px;
    pointer-events: none;
}

.footer__info {
    display: block;
    margin-bottom: 3.5em;
    opacity: .5;
    text-align: center;
    width: 100%;
}

.footer__links-list,
.footer__links-item {
    display: inline;
}

.footer__links-item {
    padding: 0.25em;
}
