---
title: Legal &middot; Katie Crafts
permalink: legal/
---

<h1>Legal</h1>

<h2>Privacy Policy</h2>

I will not sell, rent or share your personal information (email, ip address, etc) with a third party, unless required by law. I collect anonymous information that you provide through the use of Google Analytics (which uses cookies) while you browse the site.

Any email addresses are used to respond to comments on Katie Crafts. IP addresses may be used to block/blacklist users who are violating the Terms & Conditions. When commenting, the name you enter is displayed along with the comment and your avatar (if set).

<h2>Terms &amp; Conditions</h2>

By accessing Katie Crafts (referred to as this site from this point on), you agree to be bound by these Terms of Use, all applicable laws and regulations and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.

<h2>Disclaimer</h2>

The materials on this site are provided "as is". This site does not warrant or make any representations concerning the accuracy or reliability of the use of the materials on this site.

<h2>Limitations</h2>

Your use of any information or materials on this site is entirely at your own risk, for which this site will not be liable. It is your own responsibility to ensure that any products, services or information available through this site meet your specific requirements.

<h2>Revisions and Errata</h2>

The materials appearing on this site could include technical, typographical or photographic errors. This site does not ensure that any of the materials are accurate, complete or current. This site may make changes to the materials at any time without notice.

<h2>Links and Advertisements</h2>

This site includes links to other websites. The inclusion of a link does not imply endorsement by this site of the linked website. Use of any such linked website is at the user's own risk.

This site belongs to the Amazon Associates program and will occasionally link to products that are available for purchase through Amazon. All products referenced have been used by this site where mentioned.

<h2>Comments and Other Third-party Content</h2>

The messages, comments and other posts by third parties that appear on this site express the views of their authors who are wholly responsible for that content. They do not represent this site's opinion.

<h2>Governing Law</h2>

Any claim relating to this site shall be governed by the laws of the State of Pennsylvania. Any litigation relating to this site shall be resolved in the trial courts of Philadelphia County, State of Pennsylvania.

If you have any questions, email me at hello[at]katiecrafts.com.
