---
title: Special Thanks &middot; Katie Crafts
permalink: thanks/
---

<h1>Special Thanks</h1>

<p>Thanks to these people and websites for the icons, designs and apps that I use to beautify my site!</p>

<ul>
    <li>
        <a href="https://www.codeserious.com" title="Code Serious">Code Serious</a>
        <p>Thank you, Husband, for building this entire site for me &hearts;</p>
    </li>
    <li><a href="https://www.instagram.com/erikaletitiaphoto/" title="Erika Letitia Photography">Erika Letitia Photography</a></li>
    <li><a href="https://www.freepik.com/" title="Freepik">Freepik</a></li>
    <li><a href="https://abeautifulmess.com/" title="A Beautiful Mess">A Beautiful Mess</a></li>
</ul>
